body {font-family: Arial, Helvetica, sans-serif;color: '#777';font-size: 18px;width: 960px;text-align: center;}
nav {text-align: center;background: '#ebebeb';}
section {width: 495px; background: '#ebebeb';}
article {color: '#ebebeb'}