body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    width: 960px;
    text-align: center;
}

aside {
    width: 360px;
    background: #ebebeb;
    text-align: center;
    outline-color: #777;
    float: right;
    margin-left: 5px;
    height: 343.08px;
}

/*.right {
    position: static;
    background: #ebebeb;
    right: 105px;
    height: 300px;
    width: 455px;
    border: 0px solid #777;
    border-left: 0px solid #777;
    padding: 10px;
}*/

section {
    width: 550px;
    background: #ebebeb;
    float: left;
    text-align: center;
    margin-right: 5px;
    padding: 15px;
    height: 313.08px;
}

/*.left {
    position: static;
    background: #ebebeb;
    right: 105px;
    height: 300px;
    width: 445px;
    border-right: 10px solid #777;
    padding: 10px;
}*/

article {
    color: #ebebeb;
    background: #777;
    display: block;
    padding: 10px;
}

h1 {
    color: #777;
    text-align: center;
    background-color: #ebebeb;
}

p {
    color: #777;
    text-align: center;
    background-color: #ebebeb;
}

header, footer, nav {
    display: block; 
    height: 60px;
    text-align: center;
    background: #ebebeb;
    border: #777;
    padding-top: 30px;
    margin-bottom: 10px;
}

footer {
    width: 960px;
    float: left;
    margin-top: 10px;
}


html {
    background: #777
}